[Manager]
DefaultEnvironment=http_proxy=http://{{ proxy.host }}:{{ proxy.port }}
DefaultEnvironment=https_proxy=http://{{ proxy.host }}:{{ proxy.port }}
DefaultEnvironment=no_proxy={{ proxy.no_proxy }}
